# Ignore node_modules
Frontend/node_modules
Backend/node_modules

# Ignore build and coverage directories
Frontend/build
Frontend/coverage
Backend/build
Backend/coverage

# Ignore other environment and log files
**/.DS_Store
**/.env
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.vscode

# Fly configuration
fly.toml
